@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Chapman Family</h1>
    <p class="lead">This is a private website for members of the Chapman Family.</p>
    <p>
        <a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Not much here yet....</h2>
        <p>
            Probably need more text.
        </p>
        <p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
        </p>
    </div>
</div>